# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.idea/.name

.idea/codeStyles/codeStyleConfig.xml

.idea/deployment.xml

.idea/kuiperdatawhale.iml

.idea/misc.xml

.idea/modules.xml

.idea/other.xml

.idea/vcs.xml

build

cmake-build-debug/.cmake/api/v1/query/cache-v2

cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1

cmake-build-debug/.cmake/api/v1/query/codemodel-v2

cmake-build-debug/.cmake/api/v1/query/toolchains-v1

cmake-build-debug/.cmake/api/v1/reply/cache-v2-411bc254443a9b9e7a79.json

cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-fca7121caf732d23eabf.json

cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-2ee1e3342ca4ef8ba13f.json

cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json

cmake-build-debug/.cmake/api/v1/reply/directory-course1-Debug-e50cabf71097bd76d1b6.json

cmake-build-debug/.cmake/api/v1/reply/directory-course2-Debug-0dc489f72bf6366c0e5a.json

cmake-build-debug/.cmake/api/v1/reply/directory-course3-Debug-ca8de02ecad8f377ee37.json

cmake-build-debug/.cmake/api/v1/reply/directory-course4-Debug-75bac623436d55f2ff92.json

cmake-build-debug/.cmake/api/v1/reply/directory-course5-Debug-ac60027de7681c40a599.json

cmake-build-debug/.cmake/api/v1/reply/index-2023-07-12T08-30-31-0913.json

cmake-build-debug/.cmake/api/v1/reply/target-kuiper_datawhale_course1-Debug-80b8cb96b4333e0d364f.json

cmake-build-debug/.cmake/api/v1/reply/target-kuiper_datawhale_course2-Debug-ac73538ccfff78c1542c.json

cmake-build-debug/.cmake/api/v1/reply/target-kuiper_datawhale_course3-Debug-e9bdc49b9c3abafa6714.json

cmake-build-debug/.cmake/api/v1/reply/target-kuiper_datawhale_course4-Debug-98ae6568fffb952eb599.json

cmake-build-debug/.cmake/api/v1/reply/target-kuiper_datawhale_course5-Debug-1f45f0b1f5ea23e38a0f.json

cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-ffb6434f9d66dd28afdb.json

cmake-build-debug/.ninja_deps

cmake-build-debug/.ninja_log

cmake-build-debug/build.ninja

cmake-build-debug/cmake_install.cmake

cmake-build-debug/CMakeCache.txt

cmake-build-debug/CMakeFiles/3.16.3/CMakeCCompiler.cmake

cmake-build-debug/CMakeFiles/3.16.3/CMakeCXXCompiler.cmake

cmake-build-debug/CMakeFiles/3.16.3/CMakeSystem.cmake

cmake-build-debug/CMakeFiles/3.16.3/CompilerIdC/CMakeCCompilerId.c

cmake-build-debug/CMakeFiles/3.16.3/CompilerIdCXX/CMakeCXXCompilerId.cpp

cmake-build-debug/CMakeFiles/3.25.2/CMakeCCompiler.cmake

cmake-build-debug/CMakeFiles/3.25.2/CMakeCXXCompiler.cmake

cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin

cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_CXX.bin

cmake-build-debug/CMakeFiles/3.25.2/CMakeSystem.cmake

cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c

cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp

cmake-build-debug/CMakeFiles/clion-Debug-log.txt

cmake-build-debug/CMakeFiles/clion-environment.txt

cmake-build-debug/CMakeFiles/cmake.check_cache

cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake

cmake-build-debug/CMakeFiles/CMakeError.log

cmake-build-debug/CMakeFiles/CMakeOutput.log

cmake-build-debug/CMakeFiles/FindOpenMP/ompver_C.bin

cmake-build-debug/CMakeFiles/FindOpenMP/ompver_CXX.bin

cmake-build-debug/CMakeFiles/FindOpenMP/OpenMPCheckVersion.c

cmake-build-debug/CMakeFiles/FindOpenMP/OpenMPCheckVersion.cpp

cmake-build-debug/CMakeFiles/FindOpenMP/OpenMPTryFlag.c

cmake-build-debug/CMakeFiles/FindOpenMP/OpenMPTryFlag.cpp

cmake-build-debug/CMakeFiles/Makefile.cmake

cmake-build-debug/CMakeFiles/Makefile2

cmake-build-debug/CMakeFiles/progress.marks

cmake-build-debug/CMakeFiles/rules.ninja

cmake-build-debug/CMakeFiles/TargetDirectories.txt

cmake-build-debug/course1/cmake_install.cmake

cmake-build-debug/course1/CMakeFiles/CMakeDirectoryInformation.cmake

cmake-build-debug/course1/CMakeFiles/kuiper_datawhale_course1.dir/build.make

cmake-build-debug/course1/CMakeFiles/kuiper_datawhale_course1.dir/cmake_clean.cmake

cmake-build-debug/course1/CMakeFiles/kuiper_datawhale_course1.dir/depend.make

cmake-build-debug/course1/CMakeFiles/kuiper_datawhale_course1.dir/DependInfo.cmake

cmake-build-debug/course1/CMakeFiles/kuiper_datawhale_course1.dir/flags.make

cmake-build-debug/course1/CMakeFiles/kuiper_datawhale_course1.dir/link.txt

cmake-build-debug/course1/CMakeFiles/kuiper_datawhale_course1.dir/progress.make

cmake-build-debug/course1/CMakeFiles/progress.marks

cmake-build-debug/course1/CTestTestfile.cmake

cmake-build-debug/course1/kuiper_datawhale_course1

cmake-build-debug/course1/kuiper_datawhale_course1.cbp

cmake-build-debug/course1/Makefile

cmake-build-debug/course2/cmake_install.cmake

cmake-build-debug/course2/CMakeFiles/CMakeDirectoryInformation.cmake

cmake-build-debug/course2/CMakeFiles/kuiper_datawhale_course2.dir/build.make

cmake-build-debug/course2/CMakeFiles/kuiper_datawhale_course2.dir/cmake_clean.cmake

cmake-build-debug/course2/CMakeFiles/kuiper_datawhale_course2.dir/depend.make

cmake-build-debug/course2/CMakeFiles/kuiper_datawhale_course2.dir/DependInfo.cmake

cmake-build-debug/course2/CMakeFiles/kuiper_datawhale_course2.dir/flags.make

cmake-build-debug/course2/CMakeFiles/kuiper_datawhale_course2.dir/link.txt

cmake-build-debug/course2/CMakeFiles/kuiper_datawhale_course2.dir/progress.make

cmake-build-debug/course2/CMakeFiles/progress.marks

cmake-build-debug/course2/CTestTestfile.cmake

cmake-build-debug/course2/kuiper_datawhale_course2

cmake-build-debug/course2/kuiper_datawhale_course2.cbp

cmake-build-debug/course2/Makefile

cmake-build-debug/course3/cmake_install.cmake

cmake-build-debug/course3/CMakeFiles/CMakeDirectoryInformation.cmake

cmake-build-debug/course3/CMakeFiles/kuiper_datawhale_course3.dir/build.make

cmake-build-debug/course3/CMakeFiles/kuiper_datawhale_course3.dir/cmake_clean.cmake

cmake-build-debug/course3/CMakeFiles/kuiper_datawhale_course3.dir/CXX.includecache

cmake-build-debug/course3/CMakeFiles/kuiper_datawhale_course3.dir/depend.internal

cmake-build-debug/course3/CMakeFiles/kuiper_datawhale_course3.dir/depend.make

cmake-build-debug/course3/CMakeFiles/kuiper_datawhale_course3.dir/DependInfo.cmake

cmake-build-debug/course3/CMakeFiles/kuiper_datawhale_course3.dir/flags.make

cmake-build-debug/course3/CMakeFiles/kuiper_datawhale_course3.dir/link.txt

cmake-build-debug/course3/CMakeFiles/kuiper_datawhale_course3.dir/progress.make

cmake-build-debug/course3/CMakeFiles/progress.marks

cmake-build-debug/course3/CTestTestfile.cmake

cmake-build-debug/course3/kuiper_datawhale_course3

cmake-build-debug/course3/kuiper_datawhale_course3.cbp

cmake-build-debug/course3/Makefile

cmake-build-debug/course4/cmake_install.cmake

cmake-build-debug/course4/CMakeFiles/CMakeDirectoryInformation.cmake

cmake-build-debug/course4/CMakeFiles/kuiper_datawhale_course4.dir/build.make

cmake-build-debug/course4/CMakeFiles/kuiper_datawhale_course4.dir/cmake_clean.cmake

cmake-build-debug/course4/CMakeFiles/kuiper_datawhale_course4.dir/depend.make

cmake-build-debug/course4/CMakeFiles/kuiper_datawhale_course4.dir/DependInfo.cmake

cmake-build-debug/course4/CMakeFiles/kuiper_datawhale_course4.dir/flags.make

cmake-build-debug/course4/CMakeFiles/kuiper_datawhale_course4.dir/link.txt

cmake-build-debug/course4/CMakeFiles/kuiper_datawhale_course4.dir/progress.make

cmake-build-debug/course4/CMakeFiles/progress.marks

cmake-build-debug/course4/CTestTestfile.cmake

cmake-build-debug/course4/kuiper_datawhale_course4

cmake-build-debug/course4/kuiper_datawhale_course4.cbp

cmake-build-debug/course4/Makefile

cmake-build-debug/course5/cmake_install.cmake

cmake-build-debug/course5/CMakeFiles/CMakeDirectoryInformation.cmake

cmake-build-debug/course5/CMakeFiles/kuiper_datawhale_course5.dir/build.make

cmake-build-debug/course5/CMakeFiles/kuiper_datawhale_course5.dir/cmake_clean.cmake

cmake-build-debug/course5/CMakeFiles/kuiper_datawhale_course5.dir/depend.make

cmake-build-debug/course5/CMakeFiles/kuiper_datawhale_course5.dir/DependInfo.cmake

cmake-build-debug/course5/CMakeFiles/kuiper_datawhale_course5.dir/flags.make

cmake-build-debug/course5/CMakeFiles/kuiper_datawhale_course5.dir/link.txt

cmake-build-debug/course5/CMakeFiles/kuiper_datawhale_course5.dir/progress.make

cmake-build-debug/course5/CMakeFiles/progress.marks

cmake-build-debug/course5/CTestTestfile.cmake

cmake-build-debug/course5/kuiper_datawhale_course5

cmake-build-debug/course5/kuiper_datawhale_course5.cbp

cmake-build-debug/course5/Makefile

cmake-build-debug/course6/cmake_install.cmake

cmake-build-debug/course6/CMakeFiles/CMakeDirectoryInformation.cmake

cmake-build-debug/course6/CMakeFiles/kuiper_datawhale_course6.dir/build.make

cmake-build-debug/course6/CMakeFiles/kuiper_datawhale_course6.dir/cmake_clean.cmake

cmake-build-debug/course6/CMakeFiles/kuiper_datawhale_course6.dir/depend.make

cmake-build-debug/course6/CMakeFiles/kuiper_datawhale_course6.dir/DependInfo.cmake

cmake-build-debug/course6/CMakeFiles/kuiper_datawhale_course6.dir/flags.make

cmake-build-debug/course6/CMakeFiles/kuiper_datawhale_course6.dir/link.txt

cmake-build-debug/course6/CMakeFiles/kuiper_datawhale_course6.dir/progress.make

cmake-build-debug/course6/CMakeFiles/progress.marks

cmake-build-debug/course6/CTestTestfile.cmake

cmake-build-debug/course6/kuiper_datawhale_course6.cbp

cmake-build-debug/course6/Makefile

cmake-build-debug/kuiper_datawhale.cbp

cmake-build-debug/Makefile

cmake-build-debug/Testing/Temporary/LastTest.log

course3/log/Kuiper.ERROR

course3/log/Kuiper.FATAL

course3/log/Kuiper.fss-Inspiron.fss.log.ERROR.20230703-200425.20215

course3/log/Kuiper.fss-Inspiron.fss.log.ERROR.20230709-102837.40381

course3/log/Kuiper.fss-Inspiron.fss.log.ERROR.20230710-222414.36121

course3/log/Kuiper.fss-Inspiron.fss.log.ERROR.20230710-222438.36216

course3/log/Kuiper.fss-Inspiron.fss.log.ERROR.20230710-222455.36282

course3/log/Kuiper.fss-Inspiron.fss.log.ERROR.20230711-220813.32059

course3/log/Kuiper.fss-Inspiron.fss.log.ERROR.20230711-220839.32200

course3/log/Kuiper.fss-Inspiron.fss.log.ERROR.20230711-220845.32237

course3/log/Kuiper.fss-Inspiron.fss.log.ERROR.20230712-194905.9817

course3/log/Kuiper.fss-Inspiron.fss.log.ERROR.20230712-202057.17614

course3/log/Kuiper.fss-Inspiron.fss.log.ERROR.20230712-204322.22288

course3/log/Kuiper.fss-Inspiron.fss.log.FATAL.20230710-222414.36121

course3/log/Kuiper.fss-Inspiron.fss.log.FATAL.20230710-222438.36216

course3/log/Kuiper.fss-Inspiron.fss.log.FATAL.20230712-194905.9817

course3/log/Kuiper.fss-Inspiron.fss.log.FATAL.20230712-202057.17614

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230703-195801.18881

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230703-195801.18897

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230703-195822.19004

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230703-195822.19020

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230703-195831.19066

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230703-195831.19082

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230703-200425.20180

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230703-200425.20215

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230709-102837.40380

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230709-102837.40381

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230710-194948.8017

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230710-194948.8018

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230710-195357.8734

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230710-195357.8735

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230710-221838.34945

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230710-221838.34946

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230710-222000.35227

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230710-222000.35228

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230710-222008.35277

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230710-222008.35278

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230710-222018.35329

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230710-222018.35330

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230710-222050.35411

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230710-222050.35412

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230710-222414.36120

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230710-222414.36121

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230710-222438.36215

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230710-222438.36216

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230710-222455.36281

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230710-222455.36282

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230711-220753.32017

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230711-220813.32059

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230711-220839.32199

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230711-220839.32200

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230711-220842.32218

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230711-220845.32237

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230712-194905.9816

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230712-194905.9817

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230712-202053.17572

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230712-202057.17614

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230712-202116.17708

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230712-202120.17727

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230712-202141.17854

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230712-202141.17873

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230712-202610.18922

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230712-202611.18941

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230712-202621.19004

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230712-202622.19023

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230712-202655.19150

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230712-202655.19174

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230712-202722.19282

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230712-202722.19305

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230712-203127.20221

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230712-203127.20241

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230712-203413.20872

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230712-203413.20891

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230712-204020.22268

course3/log/Kuiper.fss-Inspiron.fss.log.INFO.20230712-204020.22288

course3/log/Kuiper.fss-Inspiron.fss.log.WARNING.20230703-200425.20215

course3/log/Kuiper.fss-Inspiron.fss.log.WARNING.20230709-102837.40381

course3/log/Kuiper.fss-Inspiron.fss.log.WARNING.20230710-222414.36121

course3/log/Kuiper.fss-Inspiron.fss.log.WARNING.20230710-222438.36216

course3/log/Kuiper.fss-Inspiron.fss.log.WARNING.20230710-222455.36282

course3/log/Kuiper.fss-Inspiron.fss.log.WARNING.20230711-220813.32059

course3/log/Kuiper.fss-Inspiron.fss.log.WARNING.20230711-220839.32200

course3/log/Kuiper.fss-Inspiron.fss.log.WARNING.20230711-220845.32237

course3/log/Kuiper.fss-Inspiron.fss.log.WARNING.20230712-194905.9817

course3/log/Kuiper.fss-Inspiron.fss.log.WARNING.20230712-202057.17614

course3/log/Kuiper.fss-Inspiron.fss.log.WARNING.20230712-204322.22288

course3/log/Kuiper.INFO

